.create-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  &__item {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: solid black 1px;
    font-family: 'Courier New', Courier, monospace;
  }

  .dispatch {
    cursor: pointer;
  }
}